<div class="askDiv">
  <h1 class="askH1">Question me Dumbass</h1>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="What is your question?">
    <input type="submit">
  </form>
</div>
